---
name: Run tests

on:  # yamllint disable-line rule:truthy
  push:
    branches: [main]
  pull_request:

jobs:
  pytest:
    uses: ros-infrastructure/ci/.github/workflows/pytest.yaml@main
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  sphinx_documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: python -m pip install .[doc,github]
      - run: make -C doc html "SPHINXOPTS=--fail-on-warning --keep-going"
      - uses: actions/upload-pages-artifact@v4
        with:
          path: doc/_build/html
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: yamllint -f github .
  deploy_documentation:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: sphinx_documentation
    permissions:
      pages: write
      id-token: write
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
